@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #banner {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
}
